@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Lato', sans-serif;
}

.hero {
	background-image: url('/img/winter-girl-bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.hero-overlay {
	background-image: linear-gradient(
		180deg,
		#0084d6 -50%,
		#000000 100%
	);
}

.contact {
	background-image: url('/img/contact-bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.about {
	background-image: url('/img/about-bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.limited-offer {
	background-image: url('/img/snow-blowing-girl-bg.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.limited-offer-overlay {
	background-image: linear-gradient(
		100deg,
		#1f76ab 0%,
		#00000000 100%
	);
}

#dev-logo-group {
	mix-blend-mode: normal;
}
